doctype html
html(ng-app='musicApp')
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" )
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel='stylesheet', href='stylesheets/star-rating.min.css', media='all', type='text/css')
    script(src='javascripts/star-rating.min.js', type='text/javascript')
    script(src="javascripts/index.js")
  body
    block content