body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.rating-info{
	float: right;
	margin-top: -25px;
}
.modal-content{
	padding: 15px;
}
.modal-dialog{
	padding: 15px;
}